<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs/') %>
</head>
<body>
    <div class="body-overlay">
        <header>
            <h1>AniLibrary</h1>
            <nav>
                <li><a href="/pub">master branch</a></li>
                <a href="/animes/new"><button>New Anime</button></a>
                <li><a href="/new">git add -an item</a></li>
            </nav>
        </header>
        <main>
            
            <div class="flex-container">
                <aside id="anime-menu" class="close-menu">
                    <ul>
                        <% for (let anime of animes) { %>
                            <a href="/anime/<%= anime._id %>">
                                <li class="db-object">
                                    <h3>
                                        <%= anime.name %>,
                                    </h3>
                                    <%= anime.year %>
                                </li>
                            </a>
                            <% } %>
                    </ul>
                </aside>
    
                <div id="title">
                    <h1>Anime Library</h1>
                    <h3>personal library for your favorite anime</h3>
                </div>
            
                <aside id="Watch List" class="close-menu">
                    <ul>
                        <% for (let watch of watchLists) { %>
                            <a href="/watch/<%= watch._id %>">
                                <li class="db-object">
                                    
                                    <div class="small-line-break"></div>
                                    <i>
                                        <%= watch.description %>
                                    </i>
                                </li>
                            </a>
                            <% } %>
                    </ul>
                </aside>
            </div>

          </main>
</div>
</body>
</html>