<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/public/styles/" />
</head>

<body>
        <div class="flex-container">
            <a href="/"><button>Home</button></a>
            <form action="/watchNext/<%= watchNext._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete watchNext</button>
            </form>
            <a href='/watchNext/<%= watchNext._id %>/edit'><button>Edit watchNext</button></a>
        </div>
        <main class="flex-container">
            <div id="watchNext" class="model-object">
                <br />
                <h3>
                    <%= watchNext.description %>
                </h3>
                <br />
                <p>
                    Title: <%= watchNext.title %>
                </p>
            </div>
        </main>
</body>

</html>